
.main-container{
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 32px ;
    
}
.header{

    height:10vh;
    max-width: 100vw;
    /* border: 1px solid black;    */
    /* background-color: orange; */
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* justify-content: center; */
    
}

.nav{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav > p{
    cursor: pointer;
}